.log-container-welcome {
    display: flex;
    padding: ($padding * 1.5) $padding;

    @include from($viewport-min-width-for-sidebar) {
        padding: 0;
    }
}

.welcome-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    // align-items: center;
}

.welcome-header {
    color: transparentize($text-color, 0.3);
    font-size: 2em;
}

.welcome-subheader {
    color: transparentize($text-color, 0.3);
}
