.log-list {
    background-color: getAsideBackgroundColor($background-color);
    padding: $padding ($padding / 2);
    height: 100%;
    overflow: auto;
}

$log-list-item-padding-left: 0.5em;

.log-list-heading {
    margin-bottom: $padding / 2;
    padding-left: $log-list-item-padding-left;
    text-transform: uppercase;
    font-size: $font-size - 2px;
    color: getSubtleTextColor($text-color);
}

.log-list-item {
    border-radius: $radius;

    > a {
        padding: 0.25em 0;
        padding-left: $log-list-item-padding-left;
        display: block;
        text-decoration: none;
    }

    .channel-name {
        color: #72767d;
    }

    &.active {
        background-color: transparentize(getTintedBackgroundColor($background-color), 0.25);
        .channel-name {
            color: getStrongTextColor($text-color);
        }
    }

    &:hover {
        cursor: pointer;
        &:not(.active) {
            background-color: transparentize(getTintedBackgroundColor($background-color), 0.7);
            .channel-name {
                color: getInactiveColor($text-color);
            }
        }
    }
}
