$gutter: 0.5em;

.log-list-container {
    margin-top: 0;

    @include from($mobile) {
        flex-shrink: 0;
    }
}

.log-list {
    background-color: getAsideBackgroundColor($background-color);
    padding-right: 17px;
    height: 100%;
    width: 240px;
    transition: opacity .2s ease-in-out;
}

.log-list-heading {
    padding: 0 $padding;
    margin-bottom: $padding / 2;
    text-transform: uppercase;
    font-size: $font-size - 2px;
    color: getSubtleTextColor($text-color);
}

.log-list-item {
    margin: 1px 0 1px 8px;
    padding: 0 8px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-weight: 500;
    > a {
        display: block;
        text-decoration: none;
    }

    &.active {
        background-color: rgba(79,84,92,.6);
        border-radius: $radius;
        .channel-name {
            color: #f6f6f7;
        }
    }

    &:hover {
        cursor: pointer;
        &:not(.active) {
            background-color: #35393f;
            border-radius: $radius;
            .channel-name {
                color: #b9bbbe;
            }
        }
    }

    .channel-name {
        color: #72767d;
    }
}
